@import url("https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "segoe ui", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-family: "montserrat", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom left, rgb(0, 233, 254), #f26a6a);
}

.tab {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 1200px;
  background: whitesmoke;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 3px solid slateblue;
  padding: 10px;
  overflow: auto;
  box-shadow: 0px 0px 10px rgb(255, 2, 69);
}

#th1 {
  background: green;
  color: white;
  font-style: italic;
}

#th2 {
  background: rgb(255, 0, 89);
  color: white;
  font-style: italic;
}

#th3 {
  background: rgb(93, 0, 255);
  color: white;
  font-style: italic;
}

#th4 {
  background: rgb(195, 0, 255);
  color: white;
  font-style: italic;
  width: 400px;
}

#th5 {
  background: rgb(0, 170, 255);
  color: white;
  font-style: italic;
}

#td1 {
  background: rgb(127, 128, 127);
  color: rgb(0, 0, 0);
  font-style: italic;
  padding: 5px;
}

#td2 {
  background: rgb(127, 128, 127);
  color: rgb(0, 0, 0);
  font-style: italic;
  padding: 5px;
}

#td3 {
  background: rgb(127, 128, 127);
  color: rgb(0, 0, 0);
  font-style: italic;
  padding: 5px;
}

#td4 {
  background: rgb(127, 128, 127);
  color: rgb(0, 0, 0);
  font-style: italic;
  padding: 10px;
  display: inline-block;
  height: 80px;
  width: 400px;
  overflow: auto;
  overflow-wrap: break-word;
}

#td5 {
  background: rgb(127, 128, 127);
  color: rgb(0, 0, 0);
  font-style: italic;
  padding: 5px;
}

#td6 {
  width: 50px;
}

#th6 {
  width: 50px;
}
