* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "segoe ui", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgb(0, 233, 254), #f26a6a);
  overflow: hidden;
}

.logo {
  height: 60px;
  width: 90px;
  margin: 20px;
}

.open1 {
  height: 40px;
  width: auto;
  margin: 20px;
  margin-left: -20px;
}

.ul1 {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  margin-right: 20px;
}

.li1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 65px;
  background: rgb(25, 196, 226);
  border-radius: 100%;
  box-shadow: 0px 0px 5px rgba(00, 00, 00, 0.5);
  transition: 0.3s;
  cursor: pointer;
}

.li2 {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  transition: 0.3s;
  border: 2px solid rgb(25, 196, 226);
  cursor: pointer;
}

.li1:hover {
  -webkit-text-fill-color: white;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(00, 00, 00, 0.5);
}

.h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  margin-bottom: 20px;
  background: rgb(0, 204, 255);
  color: rgb(3, 130, 7);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.fl {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.fl2 {
  height: 760px;
  width: auto;
  box-sizing: border-box;
  overflow: auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(0, 204, 255);
  background: wheat;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

#depo {
  height: 40px;
  width: 130px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background: orangered;
  color: white;
  cursor: pointer;
  margin-right: 40px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  transition: 0.3s;
  text-shadow: 0px 0px 5px black;
}

#depo:hover {
  background: transparent;
  border: 3px solid orangered;
  box-shadow: 0px 0px 5px orangered;
  color: orangered;
  cursor: pointer;
  text-shadow: 0px 0px 5px white;
}

.bl {
  box-shadow: 0px 0px 10px white, inset 0px 0px 10px gray;
  padding: 6px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  color: rgb(0, 0, 0);
  border: 3px solid white;
  background: rgba(1, 255, 18, 0.516);
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

h3 {
  color: gold;
  text-shadow: 0px 0px 5px black;
}
