@import url("https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "segoe ui", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-family: "montserrat", sans-serif;
}

body {
  background: linear-gradient(rgb(0, 233, 254), #f26a6a);
  height: auto;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 10px;
  position: fixed;
  z-index: 2;
  background: linear-gradient(to top left, #ffbb00, rgb(0, 233, 254));
}

.nav .logo {
  height: 50px;
  width: 70px;
}

.nav .open1 {
  height: 35px;
  width: 100px;
}

.nav-con ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 2px solid black;
  padding: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.nav-con ul li {
  list-style: none;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.nav-con ul li:hover {
  background: rgb(255, 0, 119);
  -webkit-text-fill-color: white;
}

.nav-con ul .r:hover {
  background: rgb(0, 153, 255);
  -webkit-text-fill-color: white;
}

.nav-con ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 450;
  font-style: italic;
}

.nav-btn ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.nav-btn ul li {
  list-style: none;
  border: 3px solid black;
  padding: 7px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.nav-btn .a {
  background: green;
  -webkit-text-fill-color: white;
  border: 3px solid white;
}

.nav-btn .b {
  background: rgb(251, 255, 0);
  -webkit-text-fill-color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
}

.nav-btn ul .a:hover {
  background: transparent;
  -webkit-text-fill-color: rgb(255, 238, 0);
  border: 3px solid yellow;
}

.nav-btn ul .b:hover {
  background: rgb(0, 153, 255);
  -webkit-text-fill-color: white;
  border: 3px solid white;
}

.nav-btn ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
}

#one {
  height: 100vh;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  background-image: url("../img/openbank-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#one .one {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 233, 254, 0.747), #f26a6adc);
}

#one .con2 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

#one .con3 {
  height: 600px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  background: transparent;
  text-align: center;
  line-height: 25px;
}

#one .con3 span {
  color: rgb(255, 0, 64);
}

#one .con3 h2 {
  color: rgb(20, 87, 2);
}

#one .con3 .a {
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-style: italic;
}

#one .con3 .b {
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-style: italic;
  text-shadow: 0px 0px 2px rgb(251, 7, 39);
}

#one .con3 .d {
  font-size: 18px;
  background: yellowgreen;
  font-style: italic;
  padding: 5px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#one .con3 .e {
  font-size: 18px;
  background: rgb(19, 92, 1);
  font-style: italic;
  padding: 5px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#one .con3 .c {
  padding: 10px 20px;
  background: rgb(255, 0, 38);
  text-decoration: none;
  -webkit-text-fill-color: rgb(255, 255, 0);
  font-size: 25px;
  font-weight: 600;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 2px 2px 10px black;
  text-shadow: -2px -2px 2px rgb(71, 70, 70);
  border: 3px solid rgb(255, 234, 0);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#one .con3 .c:hover {
  background: rgb(20, 118, 0);
  -webkit-text-fill-color: rgb(255, 255, 255);
  border: 3px solid rgb(255, 255, 255);
}

#tow {
  padding: 10px;
  height: auto;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  background: linear-gradient(to bottom left, rgb(0, 233, 254), #f26a6a);
}

#tow .con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  flex-wrap: wrap;
  gap: 30px;
}

#tow .con .con2 {
  background: rgb(0, 0, 0);
  height: 400px;
  width: 350px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 3px solid rgb(220, 253, 5);
  box-shadow: 2px 2px 20px rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#tow .con .con2 img {
  height: 390px;
  width: 340px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#tow .con3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#tow .con3 h2 {
  color: white;
  text-decoration: double underline rgb(0, 0, 0);
  margin-top: 50px;
}

#tow .con3 h2 span {
  color: rgb(0, 0, 0);
}

#tow .a {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  font-style: italic;
  text-shadow: 0px 0px 1px rgb(5, 181, 245);
}

#tow .b {
  text-align: center;
  padding: 10px;
  margin-bottom: 50px;
  color: rgb(0, 0, 0);
  font-style: italic;
  text-shadow: 0px 0px 1px rgb(77, 255, 0);
}

#tow .pa {
  text-align: center;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-style: italic;
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

#tow .pb {
  text-align: center;
  padding: 10px;
  color: rgb(246, 255, 0);
  font-style: italic;
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

#thi {
  padding: 10px;
  height: 90vh;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  background: linear-gradient(to bottom left, rgb(0, 153, 255), #02f9a7);
}

#thi .con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  flex-wrap: wrap;
  gap: 30px;
}

#thi .con .con2 {
  background: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 20px rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

#thi .con3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#thi .con3 h2 {
  color: rgb(225, 1, 1);
  text-decoration: double underline rgb(229, 255, 0);
}

#thi .con3 h2 span {
  color: rgb(229, 255, 0);
}

#thi .b {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  font-style: italic;
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

#thi .c {
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
  font-style: italic;
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

#thi .con2 .a {
  height: 40px;
  width: 700px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding-left: 20px;
  outline: none;
  border: 2px solid rgb(0, 255, 191);
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  box-shadow: inset 0px 0px 10px black;
}

#thi .con2 #text {
  height: 150px;
  width: 700px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding-left: 20px;
  padding-top: 10px;
  outline: none;
  border: 2px solid rgb(255, 230, 0);
  font-style: italic;
  font-weight: 500;
  box-shadow: inset 0px 0px 10px black;
}

#thi .con2 #btn {
  padding: 10px 20px;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 3px solid purple;
  color: white;
  margin-top: 30px;
  background: linear-gradient(to bottom left, rgb(0, 153, 255), #f90261);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#thi .con2 #btn:hover {
  background: green;
  border: 3px solid rgb(255, 255, 255);
}

@media (width <= 800px) {
  .nav {
    justify-content: space-around;
  }
  .nav-btn {
    display: none;
  }
  #one {
    height: auto;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    background-image: url("../img/openbank-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #one .one {
    height: auto;
    width: 100%;
    background: linear-gradient(rgba(0, 233, 254, 0.747), #f26a6adc);
  }

  #one .con2 {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  #one .con3 {
    padding: 10px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background: transparent;
    text-align: center;
    line-height: 25px;
    margin-top: 150px;
  }
  #tow {
    padding: 10px;
    height: auto;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    background: linear-gradient(to bottom left, rgb(0, 233, 254), #f26a6a);
  }
  #thi {
    padding: 10px;
    height: auto;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    background: linear-gradient(to bottom left, rgb(0, 153, 255), #02f9a7);
  }

  #thi .con2 .a {
    height: 40px;
    width: 400px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: 20px;
    outline: none;
    border: 2px solid rgb(0, 255, 191);
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    box-shadow: inset 0px 0px 10px black;
  }

  #thi .con2 #text {
    height: 90px;
    width: 400px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: 20px;
    padding-top: 10px;
    outline: none;
    border: 2px solid rgb(255, 230, 0);
    font-style: italic;
    font-weight: 500;
    box-shadow: inset 0px 0px 10px black;
  }

  #footer {
    width: 100%;
  }
}

@media (width <= 460px) {
  .nav {
    display: none;
  }
}

@media (width <= 360px) {
  #thi .con2 .a {
    height: 35px;
    width: 240px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: 20px;
    outline: none;
    border: 2px solid rgb(0, 255, 191);
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    box-shadow: inset 0px 0px 10px black;
  }

  #thi .con2 #text {
    height: 80px;
    width: 240px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: 20px;
    padding-top: 10px;
    outline: none;
    border: 2px solid rgb(255, 230, 0);
    font-style: italic;
    font-weight: 500;
    box-shadow: inset 0px 0px 10px black;
  }
  #thi .con2 #btn {
    padding: 5px 5px;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 3px solid purple;
    color: white;
    margin-top: 30px;
    background: linear-gradient(to bottom left, rgb(0, 153, 255), #f90261);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
}
