@media (width <= 850px) {
  #scl {
    top: auto;
    left: 0px;
  }
}

@media (width <= 800px) {
  #scl {
    top: auto;
    left: -20px;
  }

  #nnnu {
    margin-left: 300px;
  }
}

@media (width <= 780px) {
  #scl {
    top: auto;
    left: -50px;
  }
}

@media (width <= 750px) {
  #scl {
    top: auto;
    left: -80px;
  }
}

@media (width <= 720px) {
  #scl {
    top: auto;
    left: -120px;
  }
}

@media (width <= 680px) {
  #scl {
    top: auto;
    left: -150px;
  }

  #nnnu {
    margin-left: 250px;
  }
}

@media (width <= 650px) {
  #scl {
    top: auto;
    left: -180px;
  }

  #nnnu {
    margin-left: 250px;
  }

  #text {
    width: 400px;
  }
}

@media (width <= 620px) {
  #scl {
    top: auto;
    left: -210px;
  }

  #nnnu {
    margin-left: 250px;
  }

  #text {
    width: 400px;
  }
}

@media (width <= 590px) {
  #scl {
    top: auto;
    left: -250px;
  }

  #nnnu {
    margin-left: 200px;
  }

  #text {
    width: 400px;
  }
}

@media (width <= 545px) {
  #scl {
    top: auto;
    left: -280px;
  }

  #nnnu {
    margin-left: 150px;
  }

  #text {
    width: 350px;
  }
}

@media (width <= 515px) {
  #scl {
    top: auto;
    left: -300px;
  }

  #nnnu {
    margin-left: 150px;
  }

  #text {
    width: 350px;
  }
}

@media (width <= 500px) {
  #scl {
    top: auto;
    left: -320px;
  }

  #nnnu {
    margin-left: 150px;
  }

  #text {
    width: 300px;
  }
}

@media (width <= 720px) {
  .h2 {
    height: 70px;
    background: rgb(0, 0, 0);
  }

  .logo {
    width: 50px;
    height: 40px;
  }

  .open1 {
    width: 90px;
    height: 40px;
  }

  h2 {
    font-size: 20px;
    font-weight: 600;
    color: white;
    font-style: italic;
  }

  .ul1 {
    height: 45px;
    width: 45px;
  }

  .li1 {
    height: 45px;
    width: 45px;
  }

  .li2 {
    height: 45px;
    width: 45px;
  }

  .flex {
    width: auto;
  }

  .fix {
    width: 450px;
  }

  .uplo2 {
    width: 200px;
  }

  .uplo3 {
    width: 200px;
  }

  .GEN {
    width: 450px;
  }

  .che {
    margin-left: 0px;
  }

  .ffff {
    width: 350px;
    flex-direction: column;
    margin-left: 50px;
  }

  .loan {
    height: 100vh;
    overflow-y: auto;
  }

  .lform {
    width: auto;
  }
}

@media (width <= 560px) {
  .flex {
    width: auto;
  }

  .fix {
    width: 350px;
  }

  .uplo2 {
    width: 150px;
  }

  .uplo3 {
    width: 150px;
  }

  .GEN {
    width: 350px;
  }

  .ffff {
    width: 350px;
    flex-direction: column;
    margin-left: -0px;
  }

  .allloan {
    width: 350px;
  }
  .lform {
    width: auto;
  }
  .loan {
    height: 100vh;
    overflow-y: auto;
  }
}

@media (width <= 450px) {
  .flex {
    width: auto;
  }

  .fix {
    width: 300px;
  }

  .uplo2 {
    width: 130px;
  }

  .uplo3 {
    width: 130px;
  }

  .GEN {
    width: 300px;
  }

  .ffff {
    width: 300px;
    flex-direction: column;
    margin-left: -0px;
  }

  .logo {
    width: 40px;
    height: 30px;
  }

  .open1 {
    width: 80px;
    height: 30px;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    color: white;
    font-style: italic;
  }

  .ul1 {
    height: 35px;
    width: 35px;
  }

  .li1 {
    height: 35px;
    width: 35px;
  }

  .li2 {
    height: 35px;
    width: 35px;
  }

  .allloan {
    width: 300px;
  }
  .lform {
    width: auto;
  }
  .loan {
    height: 100vh;
    overflow-y: auto;
  }
}
