.mmsss {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: auto;
  width: auto;
  background: transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  flex-wrap: wrap;
}

.message {
  height: 100vh;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.914);
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  visibility: hidden;
}

.ms {
  height: 800px;
  width: 800px;
  background: rgb(0, 0, 0);
  border: 3px solid silver;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 0px 20px rgb(255, 1, 52), inset 0px 0px 15px rgb(22, 22, 22);
  overflow-y: auto;
}

.msb {
  position: fixed;
  height: 80px;
  width: 795px;
  border-radius: 5px;
  background: rgb(0, 0, 0);
  margin-top: -20px;
  margin-left: -20px;
  z-index: 0;
}

#nnnu {
  margin-left: 450px;
  margin-top: 30px;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  box-shadow: 0px 0px 15px rgb(255, 0, 102);
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
}
.msms {
  color: #fd0468;
  font-style: italic;
  font-weight: bold;
  margin-left: 20px;
  text-decoration: underline 1px double white;
}

#ob {
  position: fixed;
  top: 150px;
  z-index: 2;
}

.clo {
  position: fixed;
  z-index: 2;
}

.msb1 {
  padding: 5px;
  /*height: 100px;*/
  width: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 3px solid rgb(235, 235, 235);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  visibility: hidden;
  margin-top: 70px;
}

.msb2 {
  padding: 10px;
  /*height: 100px;*/
  width: auto;
  border-radius: 5px;
  background: linear-gradient(to right top, #fd0468, rgb(132, 0, 248));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 3px solid rgb(235, 235, 235);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  margin-top: 30px;
  cursor: pointer;
}

.msb3 {
  padding: 10px;
  /*height: 100px;*/
  width: auto;
  border-radius: 5px;
  background: linear-gradient(to right top, rgb(132, 0, 248), #fd0468);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 3px solid rgb(235, 235, 235);
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  margin-top: 50px;
  cursor: pointer;
}

#mo {
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: 2px underline rgb(255, 187, 0);
}

#mos {
  color: rgb(0, 255, 255);
  text-align: center;
  margin-top: 5px;
  margin-bottom: 4px;
  font-style: italic;
}

#ac {
  margin-top: 5px;
  margin-left: 10px;
  font-style: oblique;
}

#tex {
  color: #15ff00;
}

#tex1 {
  color: #0011ff;
}

#tex2 {
  color: #ffffff;
}

#tex3 {
  color: #f2ff00;
}

#mos1 {
  color: rgb(202, 242, 100);
  text-align: center;
  margin-top: 5px;
  margin-bottom: 4px;
  font-style: italic;
}

.mms {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  background: #000000;
  position: fixed;
  z-index: 2;
  width: 795px;
  height: 55px;
  bottom: 90px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
