* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe ui', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.err{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    color: white;
}

.err2 {
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: red;
    box-shadow: 0px 0px 10px rgba(00, 00, 00, 0.5);
}


.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(0, 233, 254), #f26a6a);
    overflow: hidden;
    position: fixed;
    bottom: -80px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.logo1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.logo2{
    height: 180px;
    width: 160px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(255,255,255);
}

.d1{
    margin-left: -250px;
    color: rgb(204, 2, 2);
    background: rgb(247, 255, 3);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(34, 33, 33);
}

.d2{
    margin-left: -150px;
    color: rgb(255, 255, 255);
    background: green;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(3, 215, 252);
}

.d3{
    margin-left: -80px;
    color: rgb(255, 255, 255);
    background: rgb(0, 128, 107);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(3, 223, 243);
}

.d4{
    margin-left: -0px;
    color: rgb(255, 255, 255);
    background: rgb(0, 53, 128);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(4, 199, 243);
}

.d5{
    margin-left: -140px;
    color: rgb(255, 255, 255);
    background: rgb(185, 166, 3);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(3, 249, 249);
}

.d6{
    margin-left: -180px;
    color: rgb(255, 255, 255);
    background: rgb(194, 95, 3);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(4, 251, 189);
}

.d7{
    color: rgb(5, 5, 5);
    background: rgb(148, 245, 3);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(2, 227, 252);
}

.card{
    padding: 30px;
    width: 600px;
    margin-top: -80px;
    border-radius: 5px;
    background: rgb(221, 218, 218);
    box-shadow: 0px 0px 10px rgb(3, 205, 251);
}