* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe ui', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(0, 233, 254), #f26a6a);
    overflow: hidden;
}


.h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
    background: rgb(0, 204, 255);
    color: rgb(172, 2, 2);
    box-shadow: 0px 0px 10px rgb(255,255,255);
}

.logo{
    height: 60px;
    width: 90px;
    margin: 20px;
}

.open1{
    height: 40px;
    width: auto;
    margin: 20px;
    margin-left: -20px;
}

.ul1{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    margin-right: 20px;
}

.li1{
    margin: 0 10px;
    padding: 8px 15px;
    background: rgb(255,255,255);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(00, 00, 00, 0.5);
    transition: 0.3s;
    cursor: pointer;
}

.li1:hover{
    background: rgb(0, 204, 255);
    -webkit-text-fill-color: white;
    transform: scale(1.1);
    cursor: pointer;
}

.h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
    background: rgb(0, 204, 255);
    color: rgb(172, 2, 2);
    box-shadow: 0px 0px 10px rgb(255,255,255);
}

.fl{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.fl2{
    height: 760px;
    width: auto;
    box-sizing: border-box;
    overflow: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0, 204, 255);
    background: wheat;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.cen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
    padding: 10px;
}

.fix{
    height: 30px;
    width: 300px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(11, 11, 11);
    background: rgb(255,255,255);
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.l{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-left: 50px;
}

.logo1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo2{
    height: 180px;
    width: 160px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(255,255,255);
}

#up_btn{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background: rgb(0, 204, 255);
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    margin-top: 50px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    transition: 0.3s;
}

#up_btn:hover{
    background: transparent;
    border: 3px solid rgb(0, 204, 255);
    color: rgb(0, 204, 255);
}

.cen2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}